nav {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}
nav .title {
  font-weight: 600;
  font-size: 36px;
}
nav ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  padding: 20px;
  font-weight: 550;
  color: #fff;
}
nav ul li a:hover {
  color: #ffd802;
}
