.movieCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.movieCard .card {
  box-shadow: 3px 2px 20px 12px #ffd802;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}
.movieCard .card img {
  max-width: 400px;
  width: 60%;
  height: auto;
}

.searchBtn {
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 600;
  border: none;
}
.searchBtn:hover {
  background-color: #ffd802;
}
.modalImg {
  max-width: 400px;
  width: 100%;
  height: auto;
}
@media (max-width: 422px) {
  .movieCard .card {
    width: 80%;
  }
}
